<ul class=" lg:flex font-semibold text-slate-700 gap-8 lg:gap-14">
    <li class="p-3 border-t lg:border-0 md:hover:border-b-2 md:hover:border-b-emerald-600"><a [routerLink]="['']">Home</a></li>
    <li class="p-3 border-t lg:border-0 md:hover:border-b-2 md:hover:border-b-emerald-600"><a [routerLink]="['my-skills']">My Skills</a></li>
    <li class="p-3 border-t lg:border-0 md:hover:border-b-2 md:hover:border-b-emerald-600"><a [routerLink]="['projects']">Projects</a></li>
    <li class="p-3 border-t lg:border-0 md:hover:border-b-2 md:hover:border-b-emerald-600"><a [routerLink]="['about']">About</a></li>
    <li class="p-3 border-y lg:border-0 md:hover:border-b-2 md:hover:border-b-emerald-600"><a [routerLink]="['contact']">Contact</a></li>
</ul>