<div class="container flex flex-wrap lg:flex-nowrap md:my-3 lg:my-10">
    <div class="mt-40">
        <div class="my-auto max-w-md">
            <div class="mb-1">
              <p class="text-emerald-600 font-semibold text-3xl ">
                Hi,
              </p>
              <h2 class="text-3xl font-semibold text-slate-800 mb-12">
                I'm Nandhakumar.
                <span class="text-slate-500 relative"
                  >A self-motivated, highly skilled, and self-driven aspiring Java Full Stack Developer with the ability to adapt to any situation and a proven ability to grow oneself and others. I am eager to leverage my skills and passion to contribute effectively and make a meaningful impact in a dynamic work environment.
                  <img
                    class="absolute -bottom-6 right-0"
                    src="assets/shapes/shape-4.webp"
                    alt=""
                  />
                </span>
              </h2>
              <a target="_blank" href="assets/pdf/Nandhaumar-CV.pdf">
                  <app-button
                name="Resume"
                size="L"
                shade="D"
                animation="C"
              ></app-button>
              </a>
              <p class="text-slate-500 text-xl font-light mb-6">
                Professional Development Completed <span class="text-2xl font-normal text-emerald-600">Java Full Stack Developer</span>
                certification from Inmakes Infotech, Kerala, Kochi.
              </p>
            </div>
          </div>
    </div>

    <div class="mt-36">
        <div class="w-full z-20 relative">
            <img
              class="w-[50%] animate-float animate-iteration-count-infinite transition-all lg:block md:flex-nowrap md:w-[40%] md:-mt-96 md:pl-10 lg:w-[70%] lg:mt-auto lg:ml-24 ml-auto"
              src="assets/logo/profile-img-1.png"
              alt=""
            />
            <div
              class="hidden lg:block absolute left-20 top-20 mr-0 lg:mr-16 xl:mr-20 2xl:mr-32 bg-white rounded-full w-32 h-32 text-red-500 font-semibold"
            >
            </div>
          </div>
    </div>
  </div>