<div class="container mx-auto pt-20">
    <!-- <div>
       <app-heading subHeading="What do I know" headingText1="My Skills"
        headingText1="Here are some technologies that are part of my current stack"  specialHeadingId="1"></app-heading>
    </div> -->
    <div class="text-center">
        <p class="text-2xl font-semibold text-emerald-600 pb-2">
            What do I know
        </p>
        <h3 class="text-3xl font-semibold text-slate-400">
            My Skills
        </h3>
        <p>
            <app-heading headingText1=" Here are some technologies that are part of my " headingText2="current stack"></app-heading> 
        </p>
    </div>
    <app-skills></app-skills>
</div>
