<header class="absolute w-full">
    <div class="bg-slate-800 hidden lg:block">
        <div class="container text-white py-2">
            <ul class="flex justify-between px-5">
                <li>Nandhakumar <span class="text-emerald-500">Java Full Stack Developer</span></li>
                <li>
                    <img src="assets/shapes/shape-1.webp" alt="">
                </li>
                <li class="flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  text-emerald-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
                      </svg>
                      <a href="tel:+918344250128" class="hover:text-emerald-500 transition-all duration-500">+91 8344250128</a>                    
                </li>
                <li class="flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-emerald-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                      </svg>
                      <a href="mailto:nknandhakumar64&#64;gmail.com"  class="hover:text-emerald-500 transition-all duration-500">Nknandhakumar&#64;gmail.com</a>
                </li>
                <li>
                    <img src="assets/shapes/shape-2.webp" alt="">
                </li>
                <li>
                    <ul class="flex gap-3 lg:gap-6 text-white">
                        <li>
                            <a target="_blank" href="https://github.com/KNandhakumar">
                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/nandhakumar-full-stack-developer/" target="_blank">
                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://join.skype.com/invite/wWTGS1BLfrd2">
                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.283 13.883c0 2.026-1.615 3.354-4.026 3.354-2.121 0-4.252-.965-4.242-2.627.003-.501.376-.961.872-.961 1.249 0 1.237 1.863 3.225 1.863 1.396 0 1.872-.764 1.872-1.296 0-1.924-6.03-.745-6.03-4.362 0-1.958 1.602-3.309 4.12-3.161 2.401.142 3.809 1.202 3.944 2.193.067.647-.361 1.151-1.105 1.151-1.086 0-1.196-1.454-3.067-1.454-.844 0-1.556.352-1.556 1.116 0 1.597 5.993.67 5.993 4.184zm7.717-8.883v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-4.675 8.311c.904-5.177-3.61-9.608-8.702-8.653-3.881-2.374-8.335 2.151-5.956 6.02-.925 5.165 3.589 9.654 8.722 8.673 3.888 2.357 8.329-2.174 5.936-6.04z"/></svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="px-5 {{isMenuScrolled?'fixed top-0 w-full bg-white shadow-xl':'pt-10'}}">
        <div class="flex items-center py-1 justify-between conatiner {{isMenuScrolled?'':'border'}} border-emerald-500 border-opacity-70 rounded-xl mx-52">
            <a href="">
                <img src="/assets/logo/nk.png" class="w-14 " alt="">
            </a>
            <div class="lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                  </svg>                  
            </div>
            <ul class="hidden lg:flex font-semibold text-slate-700 gap-8 lg:gap-14">
                <li class="py-3"><a [routerLink]="['']">Home</a></li>
                <li class="py-3"><a [routerLink]="['all-courses']">All Courses</a></li>
                <li class="py-3"><a [routerLink]="['pages']">Pages</a></li>
                <li class="py-3"><a [routerLink]="['blog']">Blog</a></li>
                <li class="py-3"><a [routerLink]="['contact']">Contact</a></li>
            </ul>
            <ul class="hidden lg:flex gap-6 font-semibold text-slate-700 pr-3">
                <li>
                    <a href="">Resume!</a>
                </li>
                <li>
                    <a href="">Hire me!</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<router-outlet></router-outlet>