<section class="bg-emerald-50">
    <div class="container pt-48">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque placeat culpa dolore distinctio voluptatibus officiis aspernatur incidunt fugit ducimus fuga harum quam excepturi consectetur molestiae perspiciatis tenetur, in praesentium modi!
    </div>
</section>
<div class="container py-24 flex gap-4">
    <app-button (click)="test()" name="test"></app-button>
    <app-button (click)="test()" size="M" shade="D" animation="C" name="Login"></app-button>
    <app-button (click)="test()" size="L" shade="L" animation="C" name="Signup"></app-button>
    <app-button (click)="test()" size="L" shade="W" animation="C" name="Github"></app-button>
</div>