<section class="bg-emerald-50">
    <div class="container pt-48">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque placeat culpa dolore distinctio voluptatibus officiis aspernatur incidunt fugit ducimus fuga harum quam excepturi consectetur molestiae perspiciatis tenetur, in praesentium modi!
    </div>
</section>
<div class="container py-24 flex gap-4">
    <app-button></app-button>
    <app-button size="M" shade="D" animation="C"></app-button>
    <app-button size="L" shade="L" animation="C"></app-button>
    <app-button size="L" shade="W" animation="C"></app-button>
</div>