<section class="bg-emerald-50 h-screen flex">
  <div class="container pt-48 border-4 border-red-500 flex">
    <div class="border-4 border-green-500 my-auto">
      <div class="border-4 border-orange-500 mb-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
            provident dicta blanditiis vitae ullam sit recusandae autem hic earum
            consequatur architecto, explicabo, veritatis nobis reiciendis qui culpa
            consequuntur, possimus officia!
          </p>
          <h2></h2>
          <p></p>
          <app-button></app-button>
      </div>
    </div>
  </div>
</section>
