<section class="bg-slate-800 ">
    <div class="container mx-auto">
        <ul class="md:flex justify-evenly items-center">
            <!-- social links component -->
             <div class="p-7 lg:p-7">
                <app-social-links></app-social-links>
             </div>
             <div>
                <p class="text-center text-slate-200 text-lg md:text-sm lg:text-base xl:text-lg">
                    Made with HTML, Tailwind CSS, Typescript, Angular by
                    <span class="text-emerald-600 md:text-sm lg:text-base">Nandhakumar.</span>
                </p>
             </div>
             <app-footer-form></app-footer-form>
        </ul>
    </div>
</section>